{% extends "mantistable/base-dashboard.html" %}

{% block title %}
    Export annotations | {{ block.super }}

{% endblock %}

{% block content %}
    {{ block.super }}

    <div id="download">
        <h1>Download annotations</h1>

        {% if current_process_all_task_id %}
            <div class="warning-message">
                Annotations are in progress. Please, wait to download them.
            </div>
        {% endif %}

        <div class="table-responsive">
            <table class="table  table-bordered sde-table">
                <thead>
                <tr>
                    <th class="name">
                        Available download
                    </th>

                    <th class="empty download"></th>
                </tr>

                </thead>

                <tbody>
                <tr>
                    <td>
                        All tables annotations
                    </td>
                    <td class="download">
                        {% if current_process_all_task_id or not download_is_available.ALL %}
                            <div class="btn disabled">
                                <i class="fas fa-download"></i>
                            </div>
                        {% else %}

                            <a href="#" class="export" data-exportGS="ALL" data-toggle="modal"
                               data-target="#export_format_selection">
                                <i class="fas fa-download"></i>
                            </a>

                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        Your tables annotations
                    </td>
                    <td class="download">
                        {% if current_process_all_task_id or not download_is_available.NONE %}
                            <div class="btn disabled">
                                <i class="fas fa-download"></i>
                            </div>
                        {% else %}

                            <a href="#" class="export" data-exportGS="NONE" data-toggle="modal"
                               data-target="#export_format_selection">
                                <i class="fas fa-download"></i>
                            </a>

                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>
                        T2D tables annotations
                    </td>
                    <td class="download">
                        {% if current_process_all_task_id or not download_is_available.T2D %}

                            <div class="btn disabled">
                                <i class="fas fa-download"></i>
                            </div>

                        {% else %}

                            <a href="#" class="export" data-exportGS="T2D" data-toggle="modal"
                               data-target="#export_format_selection">
                                <i class="fas fa-download"></i>
                            </a>

                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>
                        Limaye200 tables annotations
                    </td>
                    <td class="download">
                        {% if current_process_all_task_id or not download_is_available.Limaye200 %}

                            <div class="btn disabled">
                                <i class="fas fa-download"></i>
                            </div>

                        {% else %}

                            <a href="#" class="export" data-exportGS="Limaye200" data-toggle="modal"
                               data-target="#export_format_selection">
                                <i class="fas fa-download"></i>
                            </a>

                        {% endif %}
                    </td>
                </tr>


                <tr>
                    <td>
                        Semantic Web Challenge
                        <span class="text-small block">
                            on Tabular Data to Knowledge Graph Matching
                        </span>

                    </td>

                    <td class="download">
                        {% if current_process_all_task_id or not download_is_available.CHALLENGE %}

                            <div class="btn disabled">
                                <i class="fas fa-download"></i>
                            </div>

                        {% else %}

                            <a href="#" class="export" data-exportGS="CHALLENGE" data-toggle="modal"
                               data-target="#export_format_selection">
                                <i class="fas fa-download"></i>
                            </a>

                        {% endif %}


                    </td>
                </tr>


                </tbody>
            </table>

        </div>

    </div>


{% endblock %}

{% block modal %}
    <div id="export_format_selection" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        <span class="small block selected_gs"></span>
                        Choose a export format
                    </h4>

                    <div class="warning-message">
                        Annotations are not completed. Only the completed ones will be downloaded.
                    </div>

                </div>
                <div class="modal-body">

                    <div class="export-type rdf">
                        <span class="label-block">RDF</span>
                        <a href="{% url 'export' %}" data-exportType="RDF" data-exportFormat="xml"
                           class="btn btn-sm btn-outline-primary">
                            <span>XML</span>
                        </a>
                        <a href="{% url 'export' %}" data-exportType="RDF" data-exportFormat="nt"
                           class="btn btn-sm btn-outline-primary">
                            <span>NT</span>
                        </a>
                        <a href="{% url 'export' %}" data-exportType="RDF" data-exportFormat="turtle"
                           class="btn btn-sm btn-outline-primary">
                            <span>Turtle</span>
                        </a>
                        <a href="{% url 'export' %}" data-exportType="RDF" data-exportFormat="json-ld"
                           class="btn btn-sm btn-outline-primary">
                            <span>Json-LD</span>
                        </a>
                    </div>

                    <div class="export-type csv">
                        <span class="label-block">CSV</span>
                        <a href="{% url 'export' %}" data-exportType="CTA"
                           class="btn btn-sm btn-outline-primary">
                            <span>Type Annotation (CTA)</span>
                        </a>
                        <a href="{% url 'export' %}" data-exportType="CPA"
                           class="btn btn-sm btn-outline-primary">
                            <span>Predicate Annotation (CPA)</span>
                        </a>
                        <a href="{% url 'export' %}" data-exportType="CEA"
                           class="btn btn-sm btn-outline-primary">
                            <span>Entity Annotation (CEA)</span>
                        </a>
                    </div>

                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script>
        $(document).ready(function () {

            $('.export').on('click', function () {
                const current_gs_btn = $(this);
                const export_gs = current_gs_btn.attr("data-exportGS");
                const download_description = $(current_gs_btn).closest('tr').children('td:first').text().trim();
                $('.modal-title .selected_gs').text(download_description);

                let is_completed = {{ is_completed |safe}};
                if (is_completed && is_completed[export_gs]) {
                    $('.warning-message').hide();
                } else {
                    $('.warning-message').show();
                }

                if (export_gs === 'CHALLENGE') {
                    $("#export_format_selection .rdf").hide();
                } else {
                    $("#export_format_selection .rdf").show();
                }

                $("#export_format_selection .btn").each(function () {
                    const current_format_btn = $(this);
                    let export_type = current_format_btn.attr("data-exportType");
                    let export_format = current_format_btn.attr("data-exportFormat");
                    let base_url = {% url 'export' %};
                    let query = {};
                    if (export_format) {
                        query = {
                            'export_gs': export_gs,
                            'export_type': export_type,
                            'export_format': export_format
                        }
                    } else {
                        query = {
                            'export_gs': export_gs,
                            'export_type': export_type,
                        }
                    }

                    current_format_btn.attr('data-download-request', `${base_url}?${$.param(query)}`);
                    {#current_format_btn.attr("href", `${base_url}?${$.param(query)}`);#}

                });

            });

            $('#export_format_selection .btn').on('click', function (e) {
                e.preventDefault();
                const current_format_btn = $(this);
                current_format_btn.addClass('loading');
                $.get
                (current_format_btn.attr('data-download-request'), function (data) {
                    let hiddenElement = document.createElement('a');
                    hiddenElement.href = `data:attachment/${data.mime_type},${encodeURIComponent(data.data)}`;
                    hiddenElement.target = '_blank';
                    hiddenElement.download = data.filename;
                    hiddenElement.click();
                    current_format_btn.removeClass('loading');
                }).fail(function () {
                    current_format_btn.removeClass('loading');
                });
            });

        });
    </script>

{% endblock %}
