/* ===============
   GENERAL SETTINGS
   =============== */
/* ===============
   HOME SETTINGS
   =============== */
/* ===============
   TEMPLATE SETTINGS
   =============== */
/* ===============
   BOOTSTRAP DEFAULT
   MEDIA QUERY
   =============== */
/* 0, 640px */
/* 641px, 1024px */
/* 1025px, 1440px */
/* 1441px, 1920px */
/* 1921px */
.bold {
  font-weight: 700; }

.italic {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

.text-tiny {
  font-size: 60%; }

.text-small {
  font-size: 80%; }

.text-big {
  font-size: 120%; }

.text-huge {
  font-size: 160%; }

.block {
  display: block; }

.flex {
  display: flex; }
  .flex.align-center {
    justify-content: center;
    align-items: center; }
  .flex.align-middle {
    align-items: center; }

.overflow-hidden {
  overflow: hidden !important; }

.w100 {
  width: 100%; }

.spacer {
  margin-top: 16px !important; }

.margin-auto {
  margin: 0 auto; }

.margin-10 {
  margin: 10px; }

.margin-r-5 {
  margin-right: 5px; }

.margin-r-15 {
  margin-right: 15px; }

.indent {
  margin-left: 20px; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.red {
  color: #b8001d; }

.line-separator {
  position: relative;
  margin-bottom: 30px; }
  .line-separator:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    background: #222d32;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin: -15px 0; }

.accordion .panel-heading a:after, #list-table .status i, #export_format_selection .btn:after, .form-group.material.dropdown:after, .multiStep-horizontal .step-box.done .step:before, .multiStep-horizontal .initialState.active i,
.multiStep-horizontal .editAnn.active i {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }

body {
  font-family: "Roboto", sans-serif; }

img {
  max-width: 100%; }

a {
  color: #207f39;
  transition: all .2s; }
  a:hover, a:active, a:focus {
    color: #165928; }

h1 {
  text-align: center;
  margin-bottom: 30px; }

.btn {
  transition: background 0.2s; }
  .btn.btn-primary {
    background-color: #207f39;
    border-color: #207f39; }
    .btn.btn-primary:hover {
      background-color: #165928; }
  .btn.btn-secondary {
    color: white;
    background-color: #222d32; }
    .btn.btn-secondary:hover {
      background-color: #1f292d; }
  .btn.alert-danger {
    border-color: #b8001d; }
  .btn.btn-outline-primary {
    background: transparent;
    border: 1px solid #207f39;
    color: #207f39; }
    .btn.btn-outline-primary:hover {
      border-color: #165928;
      color: #165928; }
  .btn.btn-outline-danger {
    background: transparent;
    border: 1px solid #b8001d;
    color: #b8001d; }
    .btn.btn-outline-danger:hover {
      border-color: #930017;
      color: #930017; }
  .btn.disabled {
    cursor: not-allowed !important;
    pointer-events: auto !important; }
  .btn.load {
    position: relative; }
    .btn.load .loading {
      position: absolute;
      margin: 0;
      left: 0;
      top: 0;
      background: rgba(236, 240, 245, 0.75);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: inherit; }
  .btn.tiny {
    padding: 2px 15px;
    vertical-align: text-bottom; }
  .btn .action {
    font-size: 14px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1; }
  .btn .process {
    font-size: 12px;
    display: block; }
  .btn:active {
    box-shadow: unset !important; }

.alert-success {
  margin-top: 50px;
  color: #3c763d !important;
  background-color: #bce1b2 !important;
  border-color: #9cc790 !important;
  text-align: center; }

.warning-message {
  color: #b8001d;
  font-size: 90%; }

.tableInfo {
  margin: 0 30px 0 0;
  list-style: none;
  min-height: 50px;
  display: inline-flex;
  align-items: center;
  color: #ededed;
  padding: 0; }
  .tableInfo li {
    padding: 0 15px; }
    @media (min-width: 992px) {
      .tableInfo li {
        padding: 0 20px; } }
  .tableInfo .name {
    font-size: 14px;
    font-style: italic;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    @media (min-width: 768px) {
      .tableInfo .name {
        font-size: 16px; } }
    @media (min-width: 992px) {
      .tableInfo .name {
        font-size: 18px; } }
  .tableInfo .stats {
    text-align: center; }
  .tableInfo .number,
  .tableInfo .description {
    display: block;
    line-height: 1; }
  .tableInfo .number {
    font-weight: bold;
    font-size: 18px; }
    @media (min-width: 768px) {
      .tableInfo .number {
        font-size: 22px; } }
    .tableInfo .number.smaller {
      font-size: 16px;
      padding: 3px 0; }
      @media (min-width: 768px) {
        .tableInfo .number.smaller {
          font-size: 18px; } }
  .tableInfo .description {
    font-size: 10px; }
    @media (min-width: 768px) {
      .tableInfo .description {
        font-size: 12px; } }

.accordion {
  max-width: 700px;
  margin: auto; }
  .accordion .panel-heading {
    background: #e6e6e6;
    padding: 0; }
    .accordion .panel-heading a {
      position: relative;
      padding: 10px; }
      .accordion .panel-heading a:after {
        content: "\f068";
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #222d32;
        font-size: 14px; }
      .accordion .panel-heading a.collapsed:after {
        content: "\f067"; }
      .accordion .panel-heading a.disabled:after {
        content: unset; }
  .accordion .panel-title a {
    display: block;
    font-size: 20px;
    color: #207f39; }
    .accordion .panel-title a:hover, .accordion .panel-title a:active, .accordion .panel-title a:focus {
      color: #165928; }

.pagination {
  margin-top: 5px; }
  .pagination li.active a {
    background: #207f39;
    cursor: pointer; }
  .pagination li.active:hover a {
    background: #165928; }

pre {
  font-size: 11px; }

table th.empty {
  background-color: transparent !important;
  border: none !important; }

.table.sde-table {
  border: unset; }
  .table.sde-table th {
    text-transform: uppercase;
    background-color: #f3f3f3;
    text-align: center;
    padding: 4px !important;
    vertical-align: top; }
  .table.sde-table td {
    background-color: white;
    vertical-align: middle !important; }

.main-header {
  max-height: unset; }
  .main-header .logo {
    color: white !important;
    background-color: #165928 !important; }
  .main-header .navbar {
    background-color: #207f39 !important;
    display: flex;
    align-items: center; }
    .main-header .navbar .buttons {
      margin-left: auto;
      margin-right: 20px;
      text-align: center; }
  .main-header .sidebar-toggle:hover {
    background-color: #165928 !important; }

.sidebar-toggle {
  font-size: 14px;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  padding: 15px 15px 15px 10px !important;
  z-index: 1001; }
  .sidebar-toggle:before {
    content: "" !important; }
  .sidebar-toggle .panel-icon {
    width: 14px;
    height: 14px;
    border: 2px solid white;
    border-radius: 2px;
    margin-left: 10px;
    position: relative;
    display: block;
    box-sizing: unset; }
    .sidebar-toggle .panel-icon:before {
      content: "";
      height: inherit;
      background: white;
      position: absolute;
      transition: all 0.5s;
      box-sizing: inherit;
      left: 0;
      width: 35%; }
  .sidebar-toggle:hover .panel-icon:before {
    left: -7px;
    width: 2px; }

.sidebar-collapse .sidebar-toggle .panel-icon:before {
  left: -7px;
  width: 2px; }
.sidebar-collapse .sidebar-toggle:hover .panel-icon:before {
  left: 0;
  width: 35%; }

.main-sidebar {
  z-index: 1000 !important; }
  .main-sidebar .sidebar-menu > li > a > .fas, .main-sidebar .sidebar-menu > li > a > .far {
    width: 20px; }
  .main-sidebar .sidebar-menu > li.active > a {
    border-left-color: #207f39 !important; }
  .main-sidebar .sidebar {
    margin-top: 5px; }
  .main-sidebar .treeview .with-text {
    position: relative;
    left: -10px; }
    .main-sidebar .treeview .with-text span {
      font-size: 9px;
      text-transform: uppercase;
      font-family: sans-serif;
      position: absolute;
      top: 75%;
      left: 60%; }
  .main-sidebar .treeview #download_ann_complete .fa-layers {
    display: inline-block;
    position: relative;
    left: -4px;
    animation: buzz;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 0.2s; }
  .main-sidebar .treeview #download_ann_complete .fa-file-download {
    font-size: 17px; }
  .main-sidebar .treeview #download_ann_complete .fa-circle {
    color: tomato;
    font-size: 6px;
    position: absolute;
    left: -1px;
    top: -1px; }
  .main-sidebar .treeview #download_ann_complete .fa-eye {
    font-size: 10px;
    position: absolute;
    right: -5px;
    bottom: -3px;
    text-shadow: -2px 0 #222d32, 0 2px #222d32, 2px 0 #222d32, 0 -2px #222d32; }

@media (min-width: 768px) {
  .sidebar-collapse .main-sidebar .pull-right {
    display: none !important; } }

.control-sidebar {
  z-index: 999 !important;
  height: calc(100vh - 50px - 8px);
  overflow: hidden; }
  .control-sidebar #infoBox {
    height: calc(100vh - 50px - 8px); }

.control-sidebar-bg {
  z-index: 998 !important; }

.content-wrapper {
  overflow: auto;
  position: relative; }

.content {
  padding: 5px !important;
  position: relative;
  min-height: auto; }

.wrapper, .content-wrapper, .content {
  overflow: hidden; }

#error {
  background: #11181b;
  opacity: 0.8;
  color: white;
  padding: 2px 5px;
  font-size: 13px;
  position: fixed;
  bottom: 15px;
  left: 60px;
  border-radius: 3px;
  z-index: 9999999; }

@keyframes buzz {
  0% {
    transform: rotate(0deg); }
  4% {
    transform: rotate(10deg); }
  8% {
    transform: rotate(-10deg); }
  12% {
    transform: rotate(10deg); }
  16% {
    transform: rotate(-10deg); }
  20% {
    transform: rotate(10deg); }
  24% {
    transform: rotate(-10deg); }
  28% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }
.twoSide-layout {
  margin: -5px; }
  .twoSide-layout .inner-wrapper {
    padding: 16px; }
  .twoSide-layout .background {
    background-color: #d2d6de; }
  .twoSide-layout .row.flex {
    height: calc(100vh - 50px); }
    .twoSide-layout .row.flex > .col {
      overflow-y: auto; }
    @media (max-width: 991px) {
      .twoSide-layout .row.flex {
        display: block;
        height: auto; } }
  .twoSide-layout h1 {
    margin-bottom: 20px;
    text-align: center; }
  .twoSide-layout .container-form {
    padding: 30px; }
    .twoSide-layout .container-form #form {
      max-width: 350px;
      margin: 50px auto 10px; }
    .twoSide-layout .container-form .btn {
      margin-top: 20px;
      margin-bottom: 6px;
      vertical-align: unset; }

#home:before, #home .header:before, #home .footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/background.jpg");
  width: 100%;
  height: 100%;
  opacity: 0.03; }

#home {
  background: #222d32;
  font-family: "Roboto", sans-serif; }
  #home .header {
    background-color: #222d32;
    text-align: center;
    padding: 20px 20px 100px;
    position: relative; }
  #home .wrapper {
    z-index: 1;
    position: relative;
    background-color: transparent;
    overflow: visible; }
  #home .logo {
    max-width: 90px; }
  #home .subhead, #home .title {
    color: white;
    line-height: 1;
    text-transform: uppercase; }
  #home .subhead {
    color: white;
    font-size: 24px;
    position: relative;
    padding-bottom: 20px; }
    #home .subhead:after {
      content: "";
      position: absolute;
      width: 10%;
      max-width: 200px;
      height: 6px;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: white;
      z-index: 9; }
  #home .title {
    font-size: 80px;
    margin: 0; }
    #home .title .bold {
      font-weight: 700; }
  #home .preview {
    max-width: 600px;
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    margin: -7% auto 0;
    position: relative;
    z-index: 1; }
    #home .preview img {
      max-width: 100%;
      border-radius: inherit; }
  #home .btn {
    font-size: 18px;
    margin: 40px 0 0;
    border: 2px solid white;
    color: white;
    position: relative;
    transition: all 0.2s;
    z-index: 1; }
    #home .btn:before, #home .btn:after {
      content: "";
      background: white;
      height: 100%;
      width: 0;
      position: absolute;
      top: 0;
      transition: all 0.2s; }
    #home .btn:before {
      left: 0; }
    #home .btn:after {
      right: 0; }
    #home .btn:hover {
      color: #207f39; }
      #home .btn:hover:before, #home .btn:hover:after {
        width: 55%;
        z-index: -1; }
  #home .features {
    padding: 20px 0;
    position: relative;
    font-size: 24px;
    text-align: center;
    color: white; }
    #home .features:before {
      position: absolute;
      content: "";
      background: linear-gradient(-184deg, rgba(34, 45, 50, 0) 24%, #207f39 0, #207f39);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
    #home .features .grid-3 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 20px; }
      #home .features .grid-3 .feature {
        width: calc((100% / 3) - 60px);
        margin: 30px; }
    #home .features .feature {
      margin: 20px auto; }
      #home .features .feature .btn {
        font-size: 30px;
        padding: 10px;
        text-decoration: none; }
    #home .features .feature-title {
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 1.1;
      margin-bottom: 10px; }
      #home .features .feature-title strong {
        font-size: 28px; }
    #home .features .feature-description {
      font-size: 18px;
      font-weight: 300; }
  #home .footer {
    border-top: 2px solid #222d32;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    position: relative;
    background: white; }
    #home .footer .flex {
      align-items: flex-start; }
    #home .footer .unimib .lab .title {
      font-size: 22px;
      font-weight: bold;
      line-height: 1;
      color: black;
      display: block; }
    #home .footer .unimib .lab .text {
      display: block; }
    #home .footer a {
      color: black;
      text-decoration: none; }
    #home .footer .unimib .disco {
      max-width: 95px;
      margin-right: 15px; }
      #home .footer .unimib .disco a {
        display: block; }
    #home .footer .bitbucket {
      align-items: center;
      position: relative;
      margin-top: 20px;
      padding-top: 10px;
      text-align: center; }
      #home .footer .bitbucket:before {
        content: "";
        width: 20%;
        height: 1px;
        background: #6b6b6b;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute; }
      #home .footer .bitbucket .logo-sm {
        max-width: 15px;
        display: inline-block; }
      #home .footer .bitbucket .text {
        font-weight: 400;
        vertical-align: middle;
        font-size: 14px;
        color: #0b4ead; }

/* ===============
  LIST TABLES
   =============== */
#list-table {
  max-height: calc(100vh - 60px - 40px); }
  #list-table.noPagination {
    max-height: calc(100vh - 60px); }
  #list-table table {
    margin: 0; }
  #list-table th {
    background-color: #f3f3f3;
    border-color: #CCC; }
    #list-table th .btn-group {
      text-transform: initial;
      margin-top: 15px; }
  #list-table .status {
    display: block;
    font-size: 11px; }
    #list-table .status i {
      font-style: normal;
      display: inline-block;
      background: unset !important;
      color: black; }
      #list-table .status i.TODO:before {
        content: '\f00d'; }
      #list-table .status i.DONE:before {
        content: "\f00c"; }
      #list-table .status i.DOING {
        animation: fa-spin 2s linear infinite; }
        #list-table .status i.DOING:before {
          content: '\f2f1'; }
  #list-table .globalStatus {
    width: 8px;
    max-width: 8px;
    min-width: 8px;
    padding: 0;
    border-right: 0; }
    #list-table .globalStatus + th {
      border-left: 0; }
  #list-table .table-name {
    max-width: 280px;
    min-width: 230px;
    overflow: hidden;
    text-overflow: ellipsis; }
  #list-table .table-gs {
    text-align: center;
    min-width: 150px; }
  #list-table .table-date {
    min-width: 120px; }
  #list-table .table-status {
    min-width: 200px; }
  #list-table .table-time {
    min-width: 150px; }
  #list-table .table-buttons {
    min-width: 200px; }
  #list-table .table-entry {
    text-align: center; }
  #list-table td.table-count,
  #list-table td.table-buttons {
    text-align: center; }
  #list-table td.table-date {
    font-size: 11px;
    color: #717171;
    text-align: center; }
  #list-table td.table-time {
    text-align: center;
    font-size: 20px; }
  #list-table .form-group.material {
    margin-bottom: 0;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto; }
    #list-table .form-group.material label {
      background: #f3f3f3;
      /*background page color*/ }
  #list-table .search input {
    padding-right: 30px; }
  #list-table .search .btn-cancel {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #818690;
    font-size: 14px;
    display: none;
    cursor: pointer;
    z-index: 999; }
  #list-table .filter {
    border-radius: 3px; }
    #list-table .filter .btn {
      border: unset;
      cursor: pointer;
      width: 40px;
      height: 25px; }
      #list-table .filter .btn.all {
        background-color: white; }
      #list-table .filter .btn.active {
        position: relative;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.66); }
      #list-table .filter .btn:hover
      #list-table .filter .btn.active:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1); }
  #list-table .pagination {
    margin: 0; }
    #list-table .pagination-wrapper {
      position: fixed;
      bottom: 0;
      left: 0;
      height: 40px;
      width: 100%;
      padding: 2px 20px 2px 70px;
      display: flex;
      align-items: center;
      justify-content: flex-end; }

#list-table .DONE,
.filter .DONE {
  background-color: #195d3d;
  /*#008d4c;*/
  color: white; }
#list-table .DOING,
.filter .DOING {
  background-color: #f0bd31; }
#list-table .TODO,
.filter .TODO {
  background-color: #b9b9b9; }
#list-table .processing,
.filter .processing {
  background-color: #f0bd31;
  animation: move 1.5s linear infinite;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.45) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.45) 50%, rgba(255, 255, 255, 0.45) 75%, transparent 75%, transparent);
  background-size: 40px 40px; }
#list-table .ERROR,
.filter .ERROR {
  background-color: #c90909; }

@keyframes move {
  0% {
    background-position: 40px 0; }
  100% {
    background-position: 0 0; } }
/* ===============
   DOWNLOAD
   =============== */
#download table {
  width: auto;
  margin: auto auto 30px auto; }
  #download table th, #download table td {
    border: 1px solid #b3b2b2; }
  #download table .progress {
    min-width: 250px; }
  #download table .download {
    min-width: 50px;
    text-align: center; }
    #download table .download i {
      font-size: 14px; }
#download .warning-message {
  text-align: center;
  margin: 30px;
  font-style: italic; }

#export_format_selection .modal-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0; }
#export_format_selection .modal-body {
  padding: 10px 15px 30px; }
#export_format_selection .export-type {
  position: relative;
  display: block;
  padding-top: 15px;
  margin: 50px 0;
  border-top: 1px solid #5e5e5e;
  color: #5e5e5e; }
  #export_format_selection .export-type:first-child {
    margin-top: 15px; }
#export_format_selection .label-block {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  background: white;
  transform: translateY(-50%);
  padding-right: 4px;
  font-weight: 600; }
#export_format_selection .btn {
  margin: 0;
  padding: 5px 20px;
  position: relative;
  text-align: center;
  transition: all .3s; }
  #export_format_selection .btn:after {
    content: "\f2f1";
    animation: spin 2s linear infinite;
    position: absolute;
    opacity: 0;
    transition: all .1s;
    display: inline-block;
    right: 10px; }
  #export_format_selection .btn:hover {
    background: #165928;
    color: white; }
  #export_format_selection .btn.loading {
    padding-left: 5px;
    padding-right: 35px; }
    #export_format_selection .btn.loading:after {
      opacity: 1;
      right: 5px; }

/* ===============
   LOAD NEW TABLE
   =============== */
#loadGS > div {
  margin: 15px; }
#loadGS i {
  opacity: 0.7; }
#loadGS .btn {
  margin: 0;
  color: #207f39; }
  #loadGS .btn:hover {
    color: #165928; }
  #loadGS .btn.delete {
    color: #b8001d; }
    #loadGS .btn.delete:hover {
      color: #930017; }
  #loadGS .btn.disabled {
    opacity: 0.9; }
#loadGS .progress {
  margin: 6px 0;
  height: 6px;
  background-color: #bbbec6; }
  #loadGS .progress.loaded {
    background-color: rgba(184, 0, 29, 0.4); }
  #loadGS .progress .progress-bar {
    background: rgba(32, 127, 57, 0.5); }

#processing {
  margin: 50px auto;
  padding: 20px;
  color: #222d32;
  text-align: center;
  font-size: 28px;
  font-weight: 300; }
  #processing i {
    opacity: 0.7;
    margin-right: 10px;
    font-size: 34px; }
  #processing .text-small {
    margin-top: 20px; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.form-group.material {
  position: relative;
  margin: 15px 0 35px; }
  .form-group.material * {
    transition: all .2s; }
  .form-group.material input:not([type="file"]),
  .form-group.material select, .form-group.material.file {
    height: 56px;
    padding: 0 12px;
    color: #818690;
    background: transparent;
    box-shadow: unset;
    border: 1px solid #818690;
    border-radius: 4px !important;
    caret-color: #207f39;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    z-index: 1;
    position: relative;
    font-weight: normal; }
  .form-group.material label,
  .form-group.material .prefix {
    font-size: 16px;
    color: #818690;
    font-weight: normal;
    left: 8px;
    /*12-4*/
    margin: 0;
    position: absolute;
    top: 16px;
    padding: 0 4px;
    text-transform: initial; }
  .form-group.material label {
    background: #ecf0f5;
    /*background page color*/ }
  .form-group.material .prefix {
    display: none;
    line-height: 24px; }
  .form-group.material input:focus + label + .prefix,
  .form-group.material input:valid + label + .prefix {
    display: block; }
  .form-group.material input:focus,
  .form-group.material select:focus {
    border: 2px solid #207f39 !important;
    outline: unset; }
  .form-group.material input:focus + label,
  .form-group.material input:valid + label,
  .form-group.material select:focus + label,
  .form-group.material select:valid + label, .form-group.material.file input[type="file"] + label, .form-group.material.disabled input + label {
    font-size: 12px;
    top: -8px;
    z-index: 2; }
  .form-group.material input:focus,
  .form-group.material input:valid + label,
  .form-group.material input:focus ~ .prefix,
  .form-group.material select:focus,
  .form-group.material select:valid + label {
    color: #212121; }
  .form-group.material input:focus + label,
  .form-group.material select:focus + label {
    color: #207f39; }
  .form-group.material.dropdown select {
    /*remove dropdown arrow*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px; }
  .form-group.material.dropdown option {
    font-size: 16px;
    color: #818690;
    padding: 20px; }
    .form-group.material.dropdown option.first {
      display: none; }
  .form-group.material.dropdown:after {
    content: '\f0d7';
    position: absolute;
    right: 15px;
    top: 16px;
    color: #212121;
    font-size: 16px; }
  .form-group.material.file {
    display: flex;
    align-items: center; }
    .form-group.material.file input {
      width: 100%;
      position: relative;
      bottom: -5px; }
  .form-group.material.disabled {
    opacity: .7; }
    .form-group.material.disabled input {
      cursor: default; }
  .form-group.material.condensed input:not([type="file"]),
  .form-group.material.condensed select, .form-group.material.condensed.file {
    height: 35px;
    font-size: 14px; }
  .form-group.material.condensed label,
  .form-group.material.condensed .prefix {
    font-size: 14px;
    top: 8px; }
  .form-group.material.condensed.dropdown:after {
    top: 8px; }
  .form-group.material.error input:not([type="file"]), .form-group.material.file.error {
    border-color: #b8001d; }
  .form-group.material.error label {
    color: #b8001d !important; }
  .form-group.material .error-message {
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    color: #b8001d;
    left: 8px;
    /*12-4*/ }

.submit-form {
  overflow: hidden; }
  .submit-form span:after {
    font-family: FontAwesome;
    position: absolute;
    right: -50px;
    content: "\f00c";
    transition: all .2s; }
  .submit-form.click span:after {
    right: -20px; }
  .submit-form span {
    position: relative;
    display: block;
    transition: all .2s;
    transition-delay: .1s;
    transform: translateX(0); }
  .submit-form.click span {
    transform: translateX(-10px); }

.multiStep-horizontal {
  background: #dde1e6;
  list-style: none;
  transition: all .3s ease-in-out;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 10px 10px 45px 10px;
  position: relative; }
  .multiStep-horizontal * {
    transition: all 0.1s; }
  .multiStep-horizontal a {
    display: inline-block;
    position: relative; }
    .multiStep-horizontal a:hover, .multiStep-horizontal a:hover i {
      color: #165928; }
  .multiStep-horizontal .close-multistep {
    color: #212121;
    font-size: 14px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .multiStep-horizontal .text {
    position: absolute;
    top: 100%;
    left: 40%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 9px;
    line-height: 1.25;
    text-align: center;
    margin-top: 4px;
    width: 66.66667px; }
  .multiStep-horizontal .step-box {
    position: relative;
    width: 100px;
    display: flex;
    display: flex;
    justify-content: flex-end; }
    .multiStep-horizontal .step-box:not(:first-child):before {
      content: "";
      width: 100px;
      height: 2px;
      background-color: #9da7ad;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: 0; }
    .multiStep-horizontal .step-box .step {
      width: 20px;
      height: 20px;
      border: 2px solid #9da7ad;
      background: #9da7ad;
      border-radius: 50%;
      position: relative;
      text-align: center;
      margin: auto;
      z-index: 2;
      overflow: hidden; }
    .multiStep-horizontal .step-box .phase {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 14px;
      font-weight: bold;
      line-height: 1;
      color: #69767e; }
    .multiStep-horizontal .step-box.todo a:not(.next) {
      cursor: not-allowed;
      color: #9da7ad; }
    .multiStep-horizontal .step-box.done .step {
      border-color: #207f39;
      background: white; }
      .multiStep-horizontal .step-box.done .step:before {
        content: "\f00c";
        font-size: 10px;
        color: #207f39;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 900; }
    .multiStep-horizontal .step-box.done .phase {
      display: none; }
    .multiStep-horizontal .step-box.doing .step {
      background: white;
      border-color: #207f39; }
      .multiStep-horizontal .step-box.doing .step:before {
        content: "";
        display: block;
        width: 200%;
        height: 200%;
        left: 0;
        position: absolute;
        background: #207f39;
        animation: load 4s infinite ease-in; }
    .multiStep-horizontal .step-box.doing .phase {
      animation: changeColor 4s infinite linear; }
    .multiStep-horizontal .step-box.doing .btn.next {
      display: none; }
    .multiStep-horizontal .step-box.done:before, .multiStep-horizontal .step-box.doing:before {
      background: #207f39; }
    .multiStep-horizontal .step-box.active .step {
      border-color: #207f39; }
    .multiStep-horizontal .step-box.active:not(.doing) .step {
      background: #207f39; }
      .multiStep-horizontal .step-box.active:not(.doing) .step:before {
        color: white; }
    .multiStep-horizontal .step-box.active .text {
      color: #207f39;
      margin-top: 6px; }
    .multiStep-horizontal .step-box.active:not(.doing) .phase {
      color: white; }
    .multiStep-horizontal .step-box.active:before {
      background: #207f39; }
    .multiStep-horizontal .step-box.active .step, .multiStep-horizontal .step-box.active i {
      transform: scale(1.3); }
    .multiStep-horizontal .step-box.active .btn.next {
      display: none; }
  .multiStep-horizontal .initialState a,
  .multiStep-horizontal .editAnn a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; }
  .multiStep-horizontal .initialState i,
  .multiStep-horizontal .editAnn i {
    background: #dde1e6;
    z-index: 1; }
  .multiStep-horizontal .initialState:hover a,
  .multiStep-horizontal .editAnn:hover a {
    color: #165928; }
  .multiStep-horizontal .initialState {
    width: auto; }
    .multiStep-horizontal .initialState a {
      color: #207f39; }
  .multiStep-horizontal .editAnn:before {
    content: "";
    border-top: 2px dotted #9da7ad;
    background: unset !important; }
  .multiStep-horizontal .editAnn i {
    background: #dde1e6; }
  .multiStep-horizontal .editAnn.enabled a, .multiStep-horizontal .editAnn.enabled i {
    color: #212121; }
    .multiStep-horizontal .editAnn.enabled a:hover, .multiStep-horizontal .editAnn.enabled i:hover {
      color: #165928; }
  .multiStep-horizontal .editAnn.enabled:before {
    border-color: #212121; }
  .multiStep-horizontal .editAnn.disabled:before {
    border-color: #9da7ad; }
  .multiStep-horizontal .editAnn.disabled a, .multiStep-horizontal .editAnn.disabled i {
    cursor: not-allowed;
    color: #9da7ad; }
  .multiStep-horizontal .editAnn.active i {
    color: #207f39; }
  .multiStep-horizontal .editAnn.active:before {
    border-color: #207f39; }
  .multiStep-horizontal .btn.next {
    border-radius: 0;
    font-size: 10px;
    padding: 2px 6px;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    border: unset;
    color: white !important; }
    .multiStep-horizontal .btn.next[disabled] {
      opacity: 1;
      background: #838f8d;
      color: #414040; }
  .multiStep-horizontal.closed {
    padding: 10px; }
    .multiStep-horizontal.closed .text {
      display: none; }
    .multiStep-horizontal.closed .close-multistep {
      transform: rotate(180deg); }

.hasMultiStep .content {
  overflow-x: hidden; }

@keyframes pulse {
  from {
    transform: scale(1.2); }
  to {
    transform: scale(1); } }
@keyframes load {
  from {
    width: 0; }
  to {
    width: 140%; } }
@keyframes changeColor {
  100% {
    color: white; } }
#HOT .opacity-low {
  opacity: .3; }

#infoBox {
  font-size: 12px;
  overflow-x: hidden;
  padding: 6px 6px 20px 6px; }
  #infoBox .key {
    color: #63666c; }
  #infoBox .value {
    font-weight: bold; }
  #infoBox .form-group.material label {
    background: white;
    /*background page color*/ }
  #infoBox .cell-title {
    font-size: 20px;
    overflow: hidden;
    margin: 0 0 10px;
    padding-right: 16px;
    white-space: nowrap;
    text-overflow: ellipsis; }
  #infoBox .cell-coords {
    margin: 8px 0; }
    #infoBox .cell-coords .coord {
      margin-right: 6px; }
  #infoBox .step-name {
    line-height: 22px;
    position: relative;
    display: inline-block;
    width: 90%;
    max-width: 90%;
    height: 30px;
    margin: 20px 0 15px -8px;
    padding: 4px 15px 4px 8px;
    text-transform: uppercase;
    color: white;
    background-color: #222d32; }
    #infoBox .step-name span {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    #infoBox .step-name:after {
      position: absolute;
      top: 0;
      left: 100%;
      display: block;
      width: 0;
      height: 0;
      content: "";
      border-width: 15px 0 15px 15px;
      border-style: solid;
      border-color: transparent transparent transparent #222d32; }
  #infoBox .relationshipsTable {
    margin-bottom: 50px; }
    #infoBox .relationshipsTable th {
      text-align: center;
      vertical-align: middle;
      background: #d6d6d6; }
    #infoBox .relationshipsTable td {
      font-size: 14px;
      max-width: calc((350px / 3) - 16px);
      text-align: center;
      vertical-align: middle;
      border: 1px solid #ddd; }
    #infoBox .relationshipsTable .td-content a {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis; }
    #infoBox .relationshipsTable .col-name {
      font-size: 12px;
      font-style: italic;
      display: block; }
  #infoBox .literalMatch {
    padding: 0 20px;
    text-align: center;
    border-right: 1px solid #222d32; }
    #infoBox .literalMatch:last-child {
      border-right: unset; }

#data-preparation > div {
  margin-bottom: 20px; }

#column-analysis .column-type {
  font-size: 15px; }
#column-analysis .ne-col {
  margin-top: 20px; }
  #column-analysis .ne-col .heading {
    margin-bottom: 4px;
    padding: 2px 5px;
    background: #d6d6d6; }
  #column-analysis .ne-col li {
    margin-bottom: 6px; }
  #column-analysis .ne-col .indent {
    font-size: 85%;
    display: block;
    margin-left: 20px;
    color: #86898f; }
  #column-analysis .ne-col .score {
    margin-top: 10px;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #222d32; }
    #column-analysis .ne-col .score .value {
      font-size: 24px;
      display: block; }

#concept-annotation .header .synonyms {
  margin-bottom: 20px; }
#concept-annotation .cell .nav-tabs li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
  #concept-annotation .cell .nav-tabs li:not(.active) {
    opacity: .7; }
#concept-annotation .cell .nav-tabs a {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #222d32;
  border: none; }
#concept-annotation .cell .tab-content {
  padding: 2px 5px;
  background: #f9fafc; }
#concept-annotation .cell .abstract {
  margin-bottom: 10px;
  padding: 6px 0; }
  #concept-annotation .cell .abstract .read-more {
    font-size: 12px;
    display: none;
    width: 100%;
    margin-top: 5px;
    padding: 2px;
    color: #11181b;
    border-color: #11181b; }
  #concept-annotation .cell .abstract.collapsed .text {
    position: relative;
    overflow: hidden;
    max-height: 100px; }
    #concept-annotation .cell .abstract.collapsed .text:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #f9fafc 95%); }
  #concept-annotation .cell .abstract.collapsed .read-more {
    display: block; }
#concept-annotation .cell .candidate {
  display: table-row; }
  #concept-annotation .cell .candidate .index {
    font-size: 16px;
    line-height: 1;
    display: table-cell;
    align-self: center;
    padding-right: 6px;
    vertical-align: middle;
    white-space: nowrap; }
    #concept-annotation .cell .candidate .index i {
      font-size: 12px;
      vertical-align: middle; }
  #concept-annotation .cell .candidate .resource {
    line-height: 1.2;
    display: table-cell;
    padding: 10px 0; }
  #concept-annotation .cell .candidate a {
    display: inline-block;
    overflow: hidden;
    max-width: 270px;
    white-space: nowrap;
    text-overflow: ellipsis; }

#predicate-annotation .highlightCol tbody tr {
  transition: all .2s; }
  #predicate-annotation .highlightCol tbody tr:hover {
    background: #f5f5f5; }
#predicate-annotation .relationshipsTable td {
  font-size: 12px;
  width: calc((350px / 3) - 16px);
  /*8+8 padding */
  border: 1px solid #ddd; }

#edit-annotations table tr.opacity-low {
  opacity: 0.3; }
#edit-annotations table td {
  font-size: 12px;
  position: relative; }
#edit-annotations .hiddenRow,
#edit-annotations .edit-panel {
  display: none; }
#edit-annotations .btn.edit {
  font-size: 20px;
  display: block;
  padding: 0;
  cursor: pointer;
  transition: all .2s;
  color: #222d32; }
  #edit-annotations .btn.edit:not(.disabled):hover {
    color: #445b65; }
#edit-annotations .td-icon-edit {
  font-size: 12px;
  position: absolute;
  z-index: 1;
  bottom: -6px;
  left: 50%;
  display: none;
  padding: 0 6px 6px;
  cursor: pointer;
  transform: translate(-50%, 50%);
  background-color: white; }
#edit-annotations .edit-mode .td-icon-edit {
  display: block; }
  #edit-annotations .edit-mode .td-icon-edit.active {
    color: #207f39; }
#edit-annotations td.edit-form {
  text-align: left; }
#edit-annotations .hint-mantis {
  margin-bottom: 20px; }
#edit-annotations .hint-abstat {
  margin-bottom: 20px; }
  #edit-annotations .hint-abstat a.underline {
    text-decoration: underline;
    color: #5e5e5e; }
  #edit-annotations .hint-abstat .complementary {
    font-style: italic;
    margin-bottom: 6px;
    padding-left: 10px;
    color: #7f7f7f; }
    #edit-annotations .hint-abstat .complementary span {
      margin-right: 10px; }
    #edit-annotations .hint-abstat .complementary .active {
      color: #11181b; }
    #edit-annotations .hint-abstat .complementary i {
      font-size: 9px;
      margin-right: 2px; }
#edit-annotations .hint {
  position: relative;
  display: inline-block;
  margin: 2px;
  padding: 2px 15px;
  transition: all .2s;
  border-radius: 2px;
  background: #e6e6e6; }
  #edit-annotations .hint * {
    transition: all .2s; }
  #edit-annotations .hint a {
    display: inline-block; }
  #edit-annotations .hint .use-hint {
    font-size: 14px;
    line-height: 1;
    position: absolute;
    top: 50%;
    /*opacity:     0;*/
    right: 20px;
    cursor: pointer;
    transform: translateY(-50%);
    opacity: 0;
    color: #11181b; }
  #edit-annotations .hint:hover .slide {
    /*padding-right: 30px;*/
    transform: translateX(-10px); }
  #edit-annotations .hint:hover .use-hint {
    right: 5px;
    display: inline-block;
    opacity: 1; }
#edit-annotations .autocomplete {
  font-size: 14px;
  position: absolute;
  z-index: 9;
  display: none;
  width: 100%;
  margin-top: 2px;
  border: 1px solid #6b6b6b;
  background-color: white;
  box-shadow: 1px 1px 6px 0 #6b6b6b; }
  #edit-annotations .autocomplete, #edit-annotations .autocomplete * {
    transition: unset; }
  #edit-annotations .autocomplete li {
    padding: 5px;
    cursor: pointer; }
    #edit-annotations .autocomplete li:hover {
      background-color: #eaeaea; }
    #edit-annotations .autocomplete li.active {
      color: white;
      background-color: #207f39; }
  #edit-annotations .autocomplete.focus {
    display: block; }
#edit-annotations input:focus ~ ul.autocomplete.isVisible {
  display: block; }

#edit-table-info .delete-table {
  margin: 50px 0 30px; }

.control-sidebar-bg,
.control-sidebar {
  right: -350px !important;
  width: 350px !important; }

.control-sidebar-light {
  background: #ffffff !important; }
  .control-sidebar-light + .control-sidebar-bg {
    background: #ffffff !important; }

.control-sidebar-open .control-sidebar-bg,
.control-sidebar-open .control-sidebar {
  right: 0 !important; }
.control-sidebar-open .content-wrapper,
.control-sidebar-open .right-side,
.control-sidebar-open .main-footer {
  margin-right: 350px !important; }

.inner-control-sidebar .control-sidebar {
  overflow: hidden;
  padding-top: 0; }
.inner-control-sidebar.control-sidebar-open .content-wrapper {
  margin-right: 0 !important; }

/*****************************************************************************/
/* displayHot: Style */
/*****************************************************************************/
#handsontable th {
  font-weight: bold;
  font-size: 14px;
  /*text-align: left !important;*/ }
#handsontable .opacity-low {
  opacity: .3; }
#handsontable .colHeader {
  padding: 0 5px;
  width: 100%; }
  #handsontable .colHeader.columnSorting::before {
    left: 0;
    right: unset; }
#handsontable td {
  min-width: 180px;
  max-width: 400px;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all .2s; }
  #handsontable td:hover {
    background: rgba(0, 141, 76, 0.1) !important; }
#handsontable .icon-type {
  font-size: 14px;
  color: #63666c;
  /*margin-left: 5px;*/
  margin-right: 5px; }
#handsontable .show-more {
  font-size: 16px;
  color: #ffffff;
  background: #222d32;
  padding: 2px;
  border-radius: 3px;
  font-size: 11px;
  line-height: 1;
  /*vertical-align: text-bottom;*/
  margin-left: 8px; }
#handsontable .legend {
  font-size: 12px;
  margin-left: 25px; }
  #handsontable .legend.s {
    color: #67429a; }
  #handsontable .legend.ne {
    color: #20799f; }
  #handsontable .legend.l {
    color: #577b16; }
  #handsontable .legend.na {
    color: #63666c; }
#handsontable .htCommentCell {
  cursor: help; }

#divComment {
  height: auto;
  min-height: 90px; }
  #divComment .readMore {
    margin-top: 8px;
    display: block;
    font-size: 11px;
    color: #008d4c; }

.handsontable-col-paired #handsontable td:nth-child(2n-1), .handsontable-col-paired #handsontable td:nth-child(2n) {
  background-color: #dfdfdf; }
.handsontable-col-paired #handsontable td:nth-child(4n-1), .handsontable-col-paired #handsontable td:nth-child(4n) {
  background-color: white; }

.sticky-footer::after, .sticky-footer .button.pull::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: repeating-linear-gradient(0deg, rgba(182, 182, 182, 0.15), rgba(182, 182, 182, 0.15) 1px, transparent 1px, transparent 2px); }

.sticky-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background: #1f292d radial-gradient(rgba(32, 127, 57, 0.75), black 110%);
  border-top: 1px solid #d2d6de;
  transition: height .2s;
  z-index: 999; }
  .sticky-footer pre {
    background: transparent;
    margin: 0;
    border: unset; }
  .sticky-footer .scrollable-area {
    height: 100%;
    word-wrap: break-word;
    overflow-y: auto; }
    .sticky-footer .scrollable-area, .sticky-footer .scrollable-area * {
      font: 1.3rem Inconsolata, monospace;
      text-shadow: 0 0 5px #C8C8C8;
      color: #fff; }
      .sticky-footer .scrollable-area::selection, .sticky-footer .scrollable-area *::selection {
        text-shadow: none;
        background: #207f39; }
  .sticky-footer.close-console {
    height: 8px;
    background: #021802; }
    .sticky-footer.close-console .scrollable-area {
      display: none; }
  .sticky-footer.open-console {
    height: 150px;
    padding: 20px 10px 10px 240px; }
  .sticky-footer .button.pull {
    background: #021802;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    width: auto;
    position: absolute;
    right: 30px;
    bottom: calc(100% - 1px);
    z-index: 851;
    padding: 5px 8px;
    border-radius: 6px 6px 0 0;
    cursor: pointer; }
    .sticky-footer .button.pull i {
      color: white; }
    .sticky-footer .button.pull .up-down-arrow {
      margin-left: 10px; }
  .sticky-footer.no-console {
    display: none; }

.sidebar-collapse .sticky-footer.open-console {
  padding: 20px 10px 10px 60px; }

/*# sourceMappingURL=style.css.map */
